# ====================================================================
# HydrogenOS - .gitignore
# ====================================================================

# Compilação e Objetos (Gerados pelo NASM, GCC e LD)
*.o
*.obj
*.elf
*.bin

# Imagens de Disco e Arquivos Finais de Boot
*.iso
*.img

# Logs e Arquivos de Estado do Bochs
bochsout.txt
*.log

# Arquivos temporários do editor e do sistema
.DS_Store
*~
*.swp
